* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

.light-mode {
	background-color: white;
	color: black;
}

.login.light-mode,
.chat.light-mode {
	background: white;
}

.login {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
}

.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	width: 90vw;
	min-width: 480px;
	height: 70vh;
	border-radius: 20px;
	box-shadow: 0px 20px 90px 30px rgba(77, 148, 130, 0.7);
}

.username {
	font-size: 10px;
	padding: 15px 2px 5px 2px;
}

label {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 8px;
}

button {
	padding: 5px 10px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #055360;
	color: white;
	border: none;
}

.btn {
	padding: 12px 60px;
	background: #055360;
	cursor: pointer;
	border-radius: 15px;
	width: 190px;
}

.or {
	display: flex;
	justify-content: center;
}

.btn1 {
	color: #055360;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: transparent;
	border-radius: 15px;
	cursor: pointer;
}

.btn:hover {
	color: black;
}

.btn1:hover {
	color: blueviolet;
}

.chat {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 95vh;
}

.chat-header {
	display: flex;
	justify-content: center;
	border-radius: 20px;
}

h1,
label {
	color: #055360;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
	display: flex;
	justify-content: center;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
}

input {
	padding: 14px;
	font-size: 15px;
	border-radius: 20px;
	border: double black 2px;
	flex-grow: 1;
	max-width: 900px;
	height: 40px;
}

.chat-messageList {
	padding: 25px 5px;
	max-width: 95vw;
	width: 100%;
	margin: 0 auto;
	flex-grow: 1;
	overflow: auto;
	border-radius: 20px;
	box-shadow: 0px 20px 90px 30px rgba(77, 148, 130, 0.7);
}

.messages-message {
	display: flex;
}

.messages-message.currentMember {
	flex-direction: row-reverse;
}

.currentMember > .message-content {
	align-items: flex-end;
}

.message-content > .text {
	padding: 10px;
	max-width: 400px;
	margin: 4px;
	background-color: #055360;
	border-radius: 0px 20px 20px 20px;
}

.currentMember > .message-content .text {
	background-color: #055360;
	border-radius: 20px 0 20px 20px;
}

.timestamp {
	float: right;
	font-size: 0.65rem;
	margin-left: 0.7rem;
	position: relative;
	top: 1rem;
}

@media screen and (max-width: 430px) {
	.form-wrapper {
		min-width: 95%;
	}
}
